.navbar {
  background-color: crimson !important;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 600;
  color: antiquewhite;
}
.nav-link {
  font-size: 18px;
  font-weight: 500;
  color: black !important;
}
.chart {
  display: flex;
  margin: auto;
  margin-top: 6%;
}
